.chat {
  min-height: 100vh;
  background: linear-gradient(#596aff, #383699);
  display: grid;
  place-items: center;
  margin: 0;
}

.chat-container {
  width: 95%;
  height: 75vh;
  min-width: 100px;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.loading {
  font-size: 50px;
  color: white;
}

@media (max-width: 900px) {
  .chat-container {
    grid-template-columns: 1fr;
  }
  .loading {
    font-size: 30px;
  }
}
